<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "shared/error_messages", target: resource %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :password_confirmation, "Password Confirmation", class: "control-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :current_password, "Current Password", class: "control-label" %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>

  <div class="text-right m-t-xs">
    <%= f.submit "Update Password", class: "btn btn-success" %>
    <%= link_to "Back to Dashboard", root_path, class: "btn btn-default" %>
  </div>
<% end %>

