<div class="v-timeline vertical-container animate-panel" data-child="vertical-timeline-block" data-delay="1">
  <h4 class="text-center">Application Processes</h4>
  <% @representing_country.application_processes.each do |application_process| %>
    <div class="vertical-timeline-block">
       <div class="vertical-timeline-icon navy-bg">
          <span class="fa-stack">
            <span class="fa fa-circle-o fa-stack-2x"></span>
            <strong class="fa-stack-1x"><%= application_process.serial %></strong>
        </span>
       </div>
       <div class="vertical-timeline-content">
          <div class="p-sm">
             <span class="vertical-date pull-right"> <%= application_process.created_at.strftime("%A, %dth %b %Y") %> <br> <small><%= application_process.created_at.strftime("%I:%M %p") %></small> </span>
             <h2>Process Name: <%= application_process.name.titleize %></h2>
             <p></p>
          </div>
          <% if can? :manage, EmailTemplate %>
            <div class="panel-footer app-process-footer text-right">
              <%= link_to email_template_link(application_process), { remote: true, data: { toggle:  "modal", target: '#add_email_template' } , class: "btn btn-info pad-footer-btn pull-right", title: "Add Email Template" } do %>
                <i class="h4 font-18 fa fa-code"></i>
              <% end %>

              <%= link_to application_process_change_status_path(id: application_process.id, page: "show"), method: :post, remote: true, class: "btn btn-warning pad-footer-btn pull-right", title: "Change Status" do %>
                <div id="change-icon-application-<%= application_process.id %>">
                  <% if application_process.inactive? %>
                    <i class="h4 font-18 fa fa-toggle-on" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>INACTIVE</strong> - Click & Change it to Active"></i>
                  <% else %>
                    <i class="h4 font-18 fa fa-toggle-off" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>ACTIVE</strong> - Click & Change it to Inactive"></i>
                  <% end %>
                </div>
              <% end %>

            </div>
          <% end %>
       </div>
    </div>
  <% end %>
</div>

<div id="add_email_template" class="modal fade" role="dialog" aria-labelledby="AddEmailTemplate"></div>
