<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
     <h4 class="panel-title font-bold">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Education Details
        </a>
     </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
    <div class="panel-body">
      <% applicant.educations.each do |education| %>
        <div class="row">
          <div class="col-lg-3 border-right">
            <div class="col-lg-12">
              <p>Qualification: <span class="font-bold"><%= education.qualification %></span></p>
            </div>
          </div>

          <div class="col-lg-3 border-right">

            <div class="col-lg-12">
              <p>Institute: <span class="font-bold"><%= education.institute %></span></p>
            </div>
          </div>

          <div class="col-lg-2 border-right">
            <div class="col-lg-12">
              <p>Passing Year: <span class="font-bold"><%= education.year_passing %></span></p>
            </div>
          </div>

          <div class="col-lg-2 border-right">
            <div class="col-lg-12">
              <p>Grade: <span class="font-bold"><%= education.grade %></span></p>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="col-lg-12">
              <% if education.scanned_doc.file.present? %>
                <%= link_to "Scanned Copy", education.scanned_doc.url %>
              <% else %>
                <p>Scanned Copy not found.</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
