<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center pad-6">
      <small class="modal-title">Track History</small>
      <div class="pull-right">
        <%= link_to "#", data: { dismiss: "modal" }, class: "btn btn-danger btn-circle" do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
    </div>
    <div class="modal-body">
      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Application Updates History
        </div>
        <div class="panel-body">
          <% if @application_histories.present? %>
            <% @application_histories.each do |history| %>
              <div class="hpanel">
                <div class="panel-heading h-bg-green text-white">
                  <%= history.status.titleize %> | <%= format_datetime(history.created_at) %> by <%= history.by_user %>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <% if history.note.present? %>
                        <%= history.note %>
                      <% else %>
                        No note added.
                      <% end %>
                    </div>
                  </div>

                  <% if history.document.file.present? %>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-md-12">
                          <%= link_to "Document", history.document.url %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <hr/>
            <% end %>
          <% else %>
            <div class="panel-heading h-bg-yellow">No record found.</div>
          <% end %>
        </div>
      </div>

      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Admin Notes History
        </div>
        <div class="panel-body">
          <% if @admin_notes.present? %>
            <% @admin_notes.each do |admin_note| %>
              <div class="hpanel">
                <div class="panel-heading h-bg-blue text-white">
                  <%= format_datetime(admin_note.created_at) %> by <%= admin_note.by_user %>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <%= admin_note.details %>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            <% end %>
          <% else %>
            <div class="panel-heading h-bg-yellow">No record found.</div>
          <% end %>
        </div>
      </div>

      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Forwards History
        </div>
        <div class="panel-body">
          <% if @forwards.present? %>
            <% @forwards.each do |forward| %>
              <div class="hpanel">
                <div class="panel-heading label-warning text-white">
                  <%= format_datetime(forward.created_at) %> by <%= forward.by_user %>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <strong><%= forward.sender_name.titleize %></strong> with email <strong><%= forward.sender_email %></strong> has forwarded following message to <strong><%= forward.reciever_name.titleize %></strong> with email <strong><%= forward.reciever_email %></strong>.
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <strong>Message:</strong> <%= forward.message %>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            <% end %>
          <% else %>
            <div class="panel-heading h-bg-yellow">No record found.</div>
          <% end %>
        </div>
      </div>

      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Reminder Emails History
        </div>
        <div class="panel-body">
          <% if @reminders.present? %>
            <% @reminders.each do |reminder| %>
              <div class="hpanel">
                <div class="panel-heading label-danger text-white">
                  <%= format_datetime(reminder.created_at) %> by <%= reminder.by_user %>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <strong><%= reminder.sender_name.titleize %></strong> with email <strong><%= reminder.sender_email %></strong> sent a reminder email to <strong><%= reminder.reciever_name.titleize %></strong> with email <strong><%= reminder.reciever_email %></strong>.
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <strong>Message:</strong> <%= reminder.message %>
                    </div>
                  </div>

                  <% if reminder.attachment.file.present? %>
                    <div class="row">
                      <div class="col-lg-12">
                        <%= link_to "Attachment", reminder.attachment.url, target: "_blank" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <hr/>
            <% end %>
          <% else %>
            <div class="panel-heading h-bg-yellow">No record found.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
