<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center pad-6">
      <small class="modal-title">Track History</small>
      <div class="pull-right">
        <%= link_to "#", data: { dismiss: "modal" }, class: "btn btn-danger btn-circle" do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
    </div>
    <div class="modal-body">
      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Application Updates History
        </div>
        <% if @application_histories.present? %>
          <% @application_histories.each do |history| %>
            <div class="panel-body">
              <div class="panel-heading h-bg-green text-white">
                <%= history.status.titleize %> | <%= format_datetime(history.created_at) %> by <%= history.by_user %>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= history.note %>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-12">
                    <% if history.document.file.present? %>
                      <%= link_to "Document", history.document.url %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row">
            <div class="col-md-12 h-bg-yellow">
              <h4>No record found.</h4>
            </div>
          </div>
        <% end %>
      </div>

      <div class="hpanel">
        <div class="panel-heading hbuilt h-bg-violet text-white">
          Admin Notes History
        </div>
        <% if @admin_notes.present? %>
          <% @admin_notes.each do |admin_notes| %>
            <div class="panel-body">
              <div class="panel-heading h-bg-blue text-white">
                <%= format_datetime(admin_notes.created_at) %> by <%= admin_notes.by_user %>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= admin_notes.details %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row">
            <div class="col-md-12 h-bg-yellow">
              <h4>No record found.</h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
