<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          Reference No: <%= @application.reference_no %>
          <div class="pull-right">
            Current Status: <span class="label label-info font-100"><%= @application.current_status %></span>
            <%= link_to "Update Status", application_edit_status_path(@application), remote: true, data: { toggle: "modal", target: '#update_status' } , class: "btn btn-success btn-xs ripple", title: "Update Status" %>

            <%= link_to "Track History", application_track_history_path(@application), remote: true, data: { toggle: "modal", target: '#track_history' } , class: "btn btn-info btn-xs ripple", title: "Track History" %>

            <%= link_to "Admin Notes", application_admin_notes_path(@application), remote: true, data: { toggle: "modal", target: '#admin_notes' } , class: "btn btn-warning btn-xs ripple", title: "Admin Notes" %>

            <%= link_to "Edit", edit_application_path(@application, method: "show"), class: "btn btn-primary btn-xs ripple" %>

            <%= link_to "Back", "javascript:history.back()", class: "btn btn-default btn-xs ripple" %>
          </div>
        </div>
        <div class="panel-body">
          <div class="text-center m-b-md">
             <h3>
                <%= @application.applicant.name.titleize %> - <%= link_to @application.country,
                  representing_country_path(@application.representing_country.id) %>
            </h3>
            <small>
              <%= @application.course_name.titleize %>, <%= @application.intake %> | <%= link_to @application.institute,
                                representing_institution_path(@application.representing_institution.id)  %> | Interview: <%= @application.interview_date %>
            </small>
            <div class="clearfix"></div>
          </div>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <%= render partial: "applications/applicant_info", locals: { applicant: @application.applicant } %>

            <%= render partial: "applications/education_info", locals: { applicant: @application.applicant } %>

            <%= render partial: "applications/language_details", locals: { applicant: @application.applicant } %>

            <%= render partial: "applications/work_experiences", locals: { applicant: @application.applicant } %>

            <%= render partial: "applications/references", locals: { applicant: @application.applicant } %>

            <%= render partial: "applications/additional", locals: { application: @application } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="update_status" class="modal fade" role="dialog" aria-labelledby="UpdateStatus"></div>

<div id="track_history" class="modal fade" role="dialog" aria-labelledby="TrackHistory"></div>

<div id="admin_notes" class="modal fade" role="dialog" aria-labelledby="AdminNotes"></div>
