<%= form_for(@user.becomes(User), error_form_url(@user)) do |f| %>
  <%= f.hidden_field :action_name, value: params[:method] if params[:method].present? %>

  <% if current_user.branch_officer? %>
    <%= f.hidden_field "#{current_user.type.underscore}_id", value: current_user.id %>
  <% else %>
    <%= f.hidden_field "branch_officer_id", value: @user.persisted? ? @user.branch_officer_id : params[:user][:branch_officer_id] %>
  <% end %>

  <%= render "shared/error_messages", target: @user %>

  <div class="row">
    <div class="form-group col-lg-6">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, title: "Please Enter Name", placeholder: "Name", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-lg-6">
      <%= f.label :email, class: "control-label" %>
      <%= f.text_field :email, title: "Please Enter Name", placeholder: "abc@example.com", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-6">
      <%= f.label :phone_num, class: "control-label" %>
      <%= f.number_field :phone_num, title: "Please Enter Phone", placeholder: "1111111", class: "form-control" %>
    </div>
    <div id="download_csv"><%= render "users/download_csv" %></div>
  </div>
  <%= f.hidden_field :type, value: "Counsellor" %>
  <%= f.hidden_field :country, value: current_user.branch_officer? ? current_user.country : @user.persisted? ? @user.branch_officer.country : params[:user][:country] %>
  <%= f.hidden_field :contact_person_name, value: current_user.branch_officer? ? current_user.name : @user.persisted? ? @user.branch_officer_id : params[:user][:contact_person_name] %>
  <%= f.hidden_field :contact_person_designation, value: "BranchOfficer" %>
  <%= f.hidden_field :contact_person_email, value: current_user.branch_officer? ? current_user.email : @user.persisted? ? @user.branch_officer_id : params[:user][:contact_person_email] %>
  <%= f.hidden_field :contact_person_mobile, value: current_user.branch_officer? ? current_user.phone_num : @user.persisted? ? @user.branch_officer_id : params[:user][:contact_person_mobile] %>

  <div class="text-right m-t-xs">
    <%= f.button :submit, class: "btn btn-success" do %>
      <i class="fa fa-send-o"></i>
      <%= user_form_submit_text(f.object) %>
    <% end %>

    <%= link_to back_user_form_url(params[:method], f.object), class: "btn btn-default" do %>
      <i class="fa fa-arrow-right"></i>
    <% end %>
  </div>
<% end %>
