<%= form_for(@user.becomes(User), error_form_url(@user)) do |f| %>
  <%= f.hidden_field :action_name, value: params[:method] if params[:method].present? %>

  <%= f.hidden_field "#{current_user.type.underscore}_id", value: current_user.id unless current_user.admin? %>

  <div class="text-center m-b-md" id="wizardControl">
    <%= link_to "Personal Info", "#personal_info", class: "btn btn-primary active", data: { toggle: "tab" } %>

    <%= link_to "Additional Info", "#additional_info", class: "btn btn-primary", data: { toggle: "tab" } %>

    <%= link_to "Point Of Contact", "#point_of_contact", class: "btn btn-primary", data: { toggle: "tab" } %>
  </div>

  <%= render "shared/error_messages", target: @user %>

  <div class="tab-content">
    <div id="personal_info" class="p-m tab-pane active">
      <div class="row">
        <div class="form-group col-lg-4">
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, title: "Please Enter Name", placeholder: "Name", required: true, class: "form-control" %>
        </div>

        <div class="form-group col-lg-4">
          <%= f.label :email, class: "control-label" %>
          <%= f.text_field :email, title: "Please Enter Name", placeholder: "abc@example.com", required: true, class: "form-control" %>
        </div>
        <div id="download_csv"></div>
        <div class="form-group col-lg-4 country-select">
          <%= f.label :country, class: "control-label" %>
          <%= f.select :country, @countries.collect { |c| [c.titleize, c] }, { prompt: "- Select Country -" }, { required: true, class: "form-control" } %>
        </div>
      </div>

      <div class="row address">
        <div class="form-group col-lg-3">
          <%= f.label :street, class: "control-label" %>
          <%= f.text_field :street, title: "Please Enter Name", placeholder: "Street", class: "form-control" %>
        </div>

        <div class="form-group col-lg-3">
          <%= f.label :city, class: "control-label" %>
          <%= f.text_field :city, title: "Please Enter City", placeholder: "City", class: "form-control" %>
        </div>

        <div class="form-group col-lg-3">
          <%= f.label :state, class: "control-label" %>
          <%= f.text_field :state, title: "Please Enter State", placeholder: "State", class: "form-control" %>
        </div>

        <div class="form-group col-lg-3">
          <%= f.label :zipcode, class: "control-label" %>
          <%= f.number_field :zipcode, title: "Please Enter Zipcode", placeholder: "Zipcode", class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-4 logo">
          <%= f.label :logo, class: "control-label" %>
          <%= f.file_field :logo, title: "Please Upload Logo", class: "form-control" %>
          <%= label_tag "files", @user.logo.filename if @user.persisted? && @user.logo.file.present? %>
        </div>

        <div class="form-group col-lg-3">
          <%= f.label :phone_num, class: "control-label" %>
          <%= f.number_field :phone_num, title: "Please Enter Phone", placeholder: "1111111", class: "form-control" %>
        </div>

        <div class="form-group col-lg-2">
          <% if (@user.new_record? || @user.errors.any?) && current_user.admin? %>
            <%= f.label :type, class: "control-label" %>
            <%= f.select :type, User::ROLES.map { |r| [r.titleize, r.titleize] }, { prompt: "Select Type", selected: "#{ @user.persisted? ? params[:user][:type] : @user.type.present? ? @user.type.underscore : "admin" }" }, { required: true, class: "form-control" } %>
          <% else %>
            <%= f.hidden_field :type, value: @user.type %>
          <% end %>
        </div>

        <div class="form-group col-lg-3">
          <div id="populate_agents">
            <%= f.label :agent_id, "Agent", class: "control-label" %>
            <%= f.select :agent_id, Agent.active.collect { |a| [a.name.titleize, a.id] }, { prompt: "- Select Agent -" }, { required: true, class: "form-control", id: "agents" } %>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <div id="populate_branch_officers">
            <%= f.label :branch_officer_id, "Branch Officer", class: "control-label" %>
            <%= f.select :branch_officer_id, BranchOfficer.active.collect { |a| [a.name.titleize, a.id] }, { prompt: "- Select Branch Officer -" }, { required: true, class: "form-control", id: "branch_officers" } %>
          </div>
        </div>
      </div>
    </div>

    <div id="additional_info" class="p-m tab-pane">
      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :facebook, class: "control-label" %>
          <%= f.text_field :facebook, title: "Please Enter Facebook URL", placeholder: "Facebook URL", class: "form-control" %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :google, class: "control-label" %>
          <%= f.text_field :google, title: "Please Enter Google URL", placeholder: "Google URL", class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :twitter, class: "control-label" %>
          <%= f.text_field :twitter, title: "Please Enter Twitter URL", placeholder: "Twitter URL", class: "form-control" %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :linkdIn, class: "control-label" %>
          <%= f.text_field :linkdIn, title: "Please Enter LinkdIn URL", placeholder: "LinkdIn URL", class: "form-control" %>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :website, class: "control-label" %>
          <%= f.text_field :website, title: "Please Enter Website", placeholder: "www.abc.com", class: "form-control" %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :skypeId, class: "control-label" %>
          <%= f.text_field :skypeId, title: "Please Enter Skype ID", placeholder: "Skype ID", class: "form-control" %>
        </div>
      </div>
    </div>

    <div id="point_of_contact" class="p-m tab-pane">
      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :contact_person_name, "Contact Person Name", class: "control-label" %>
          <%= f.text_field :contact_person_name, title: "Please Enter Contact Person Name", placeholder: "Contact Person Name", class: "form-control", required: true %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :contact_person_designation, "Designation", class: "control-label" %>
          <%= f.text_field :contact_person_designation, title: "Please Enter Contact Person Designation", placeholder: "Contact Person Designation", class: "form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :contact_person_email, "Email", class: "control-label" %>
          <%= f.text_field :contact_person_email, title: "Please Enter Contact Person Email", placeholder: "Contact Person Email", class: "form-control", required: true %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :contact_person_mobile, "Mobile", class: "control-label" %>
          <%= f.text_field :contact_person_mobile, title: "Please Enter Contact Person Mobile", placeholder: "Contact Person Mobile", class: "form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <%= f.label :contact_person_phone, "Phone", class: "control-label" %>
          <%= f.text_field :contact_person_phone, title: "Please Enter Contact Person Phone", placeholder: "Contact Person Phone", class: "form-control" %>
        </div>

        <div class="form-group col-lg-6">
          <%= f.label :contact_person_skype, "Skype ID", class: "control-label" %>
          <%= f.text_field :contact_person_skype, title: "Please Enter Contact Person Skype ID", placeholder: "Contact Person Skype ID", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right m-t-xs">
    <%= f.button :submit, class: "btn btn-success" do %>
      <i class="fa fa-send-o"></i>
      <%= user_form_submit_text(f.object) %>
    <% end %>

    <%= link_to "javascript:history.back()", class: "btn btn-default" do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>
