<div id="filterrific_results">
  <table class="footable" data-page-size="10" data-page-navigation=".pagination">
    <thead>
      <tr>
        <th data-title="Name" data-breakpoints="xs">Name</th>
        <th>Email</th>
        <th data-title="Phone" data-breakpoints="xs">Phone</th>
        <th>Country</th>
        <th data-title="No of Subordinates" data-breakpoints="xs sm">No. of Subordinates</th>

        <% if current_user.admin? %>
        <th>Role</th>
        <% end %>

        <th data-title="Created At" data-breakpoints="xs sm md">Created Date</th>
        <th data-title="Last Sign In" data-breakpoints="xs sm md">Last Sign In</th>
      </tr>
    </thead>
    <tbody>
      <% users.each_with_index do |user, index| %>
      <tr>
        <td>
          <%= user.name.titleize %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.phone_num %>
        </td>
        <td>
          <%= user.country %>
        </td>
        <td>
          <% if user.admin? %>
          ----
          <% else %>
          <%= user.subordinate_count %>
          <% end %>
        </td>

        <% if current_user.admin? %>
        <td><%= user.role.titleize %></td>
        <% end %>

        <td>
          <%= format_datetime(user.created_at) %>
        </td>
        <td>
          <%= format_datetime(user.last_sign_in_at) %>
        </td>
        <div class="example">
          <td>
            <%= link_to edit_user_path(user) do %>
            <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
            <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to user_change_status_path(user), method: :post, remote: true do %>
            <div id="change-icon-<%= user.id %>">
              <% if user.inactive? %>
              <i class="fa fa-toggle-on" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>INACTIVE</strong> - Click & Change it to Active"></i>
              <% else %>
              <i class="fa fa-toggle-off" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>ACTIVE</strong> - Click & Change it to Inactive"></i>
              <% end %>
            </div>
            <% end %>
          </td>
        </div>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <div class="pagination"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
