<div id="filterrific_results">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th data-breakpoints="xs" data-title="Email">Email</th>
        <th data-breakpoints="xs" data-title="Phone">Phone</th>
        <th data-breakpoints="xs" data-title="Country">Country</th>

        <% if current_user.admin? %>
          <th data-breakpoints="xs md" data-title="Role">Role</th>
        <% end %>

        <th data-breakpoints="xs md" data-title="Subordinates">No. of Subordinates</th>
        <th data-breakpoints="xs md" data-title="Created At">Created Date</th>
        <th data-breakpoints="xs md" data-title="Last Sign In">Last Sign In</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each_with_index do |user, index| %>
        <tr>
          <td>
            <%= user.name.titleize %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.phone_num %>
          </td>
          <td>
            <%= user.country %>
          </td>

          <% if current_user.admin? %>
            <td><%= user.role.titleize %></td>
          <% end %>

          <td>
            <% if user.admin? %>
              ----
            <% else %>
              <%= user.subordinate_count %>
            <% end %>
          </td>

          <td>
            <%= format_datetime(user.created_at) %>
          </td>
          <td>
            <%= format_datetime(user.last_sign_in_at) %>
          </td>
          <td>
            <%= link_to edit_user_path(user, method: 'index') do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td>
            <%= link_to user_change_status_path(user), method: :post, remote: true do %>
              <div id="change-icon-<%= user.id %>">
                <% if user.inactive? %>
                  <i class="fa fa-toggle-on" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>INACTIVE</strong> - Click & Change it to Active"></i>
                <% else %>
                  <i class="fa fa-toggle-off" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>ACTIVE</strong> - Click & Change it to Inactive"></i>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="paging-ui-container"></div>
</div>
