<%= render 'header' %>

<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
       <div class="panel-heading hbuilt">
          <%= show_users_count %>
          <div class="pull-right">
            <%= link_to new_user_path, class: "btn btn-primary btn-xs ripple" do %>
              <i class="fa fa-plus"></i> Add New <%= accessible_role_name.singularize %>
            <% end %>
          </div>
       </div>
       <div class="panel-body no-shadow">

        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Country</th>
              <th>No. of <%= accessible_subordinate_name %></th>
              <th>Created Date</th>
              <th>Last Sign In</th>
            </tr>
          </thead>
          <tbody>
            <%= no_data_message(@users) %>
            <% @users.each_with_index do |user, index| %>
              <tr>
                <td>
                  <%= user.name.titleize %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= user.phone_num %>
                </td>
                <td>
                  <%= user.country %>
                </td>
                <td>
                  <%= show_users_count %>
                </td>
                <td>
                  <%= format_datetime(user.created_at) %>
                </td>
                <td>
                  <%= format_datetime(user.last_sign_in_at) %>
                </td>
                <td>
                  <%= link_to edit_user_path(user) do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_path(user) do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_change_status_path(user), method: :post, remote: true do %>
                    <div id="change-icon-<%= user.id %>">
                      <% if user.inactive? %>
                        <i class="fa fa-toggle-on"></i>
                      <% else %>
                        <i class="fa fa-toggle-off"></i>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
    </div>
  </div>
</div>
