<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          <%= show_users_count(@users.count) %>
          <div class="pull-right">
            <%= link_to new_user_path, class: "btn btn-primary btn-xs ripple" do %>
              <i class="fa fa-plus"></i> Add New <%= accessible_role_name.singularize %>
            <% end %>
          </div>
        </div>
        <div class="panel-body no-shadow">
          <%= render partial: "filterrific_form", locals: { filterrific: @filterrific } %>

          <%= render partial: "users/list", locals: { users: @users } %>
        </div>
      </div>
    </div>
  </div>
</div>
