<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel horange">
        <div class="panel-heading hbuilt">
          <div class="pull-right">

            <%= link_to user_change_status_path(user_id: @user, page: "show"), method: :post, remote: true, class: "btn", title: "Change Status" do %>
              <div id="change-icon-<%= @user.id %>">
                <% if @user.inactive? %>
                  <i class="h4 font-18 fa fa-toggle-on" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>INACTIVE</strong> - Click & Change it to Active"></i>
                <% else %>
                  <i class="h4 font-18 fa fa-toggle-off" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>ACTIVE</strong> - Click & Change it to Inactive"></i>
                <% end %>
              </div>
            <% end %>

            <%= link_to "Edit", edit_user_path(@user, method: "show"), class: "btn btn-primary btn-xs ripple" %>

            <%= link_to "Back", "javascript:history.back()", class: "btn btn-default btn-xs ripple" %>
          </div>
          <p>
            <% if @user.logo.file.present? %>
              <%= image_tag @user.logo_url.to_s, class: "m-b float-margin-left" %>
            <% elsif @user.branch_officer? %>
              <%= image_tag @user.agent.logo_url.to_s, class: "m-b float-margin-left" %>
            <% elsif @user.counsellor? %>
              <%= image_tag @user.branch_officer.agent.logo_url.to_s, class: "m-b float-margin-left" %>
            <% end %>

            <div class="vertical-center">
              <h3><%= @user.name.titleize %></h3>
              <small>Type: <%= @user.role.titleize %> <%= show_superior_name(@user) %></small>
            </div>
          </p>
        </div>
        <div class="panel-body no-padding">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-address-card"></i> <%= not_available(@user.state_address) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-building"></i> <%= not_available(@user.street_address) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-phone"></i> <%= not_available(@user.phone_num) %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-envelope"></i> <%= not_available(@user.email) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-globe"></i> <%= not_available(@user.website) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-skype"></i> <%= not_available(@user.skypeId) %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-4">
                  <i class=" fa fa-facebook font-18 h4"></i> <%= not_available(@user.facebook) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-google-plus"></i> <%= not_available(@user.google) %>
                </div>
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-twitter"></i> <%= not_available(@user.twitter) %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-4">
                  <i class="h4 font-18 fa fa-linkedin"></i> <%= not_available(@user.linkdIn) %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <%= render partial: "shared/contact_person_details", locals: { contactee: @user } %>
    </div>
  </div>
</div>
