<%= form_for(@representing_country, local: true) do |form| %>
  <%= form.hidden_field :action_name, value: params[:method] if params[:method].present? %>

  <%= render "shared/error_messages", target: representing_country %>
  <div class="row">
    <div class="form-group col-md-5">
      <%= form.label :name, class: "control-label" %>
      <%= form.select :name, ApplicationHelper::COUNTRIES, { prompt: "Select Country" }, { required: true, class: "form-control" } %>
    </div>

    <div class="form-group col-md-5">
      <% if current_user.agent? %>

        <%= form.hidden_field "agent_id", value: current_user.id %>

      <% else %>
        <%= form.label :agent_id, "Agent", class: "control-label" %>
        <%= form.select :agent_id, Agent.active.collect { |a| [a.name.titleize, a.id] }, { prompt: "- Select Agent -" }, { required: true, class: "form-control", id: "agents" } %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="hpanel">
        <div class="panel-heading">
          Application Processes

          <div class="pull-right">
            <%= form.add_nested_fields_link :application_processes, class: "btn btn-xs btn-success" do %>
              <i class="fa fa-plus-square"></i>
               Add Application Process
            <% end %>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <%= form.nested_fields_for :application_processes do |form_application| %>
              <% if form_application.object.active? %>
                <%= form_application.label nil,
                    "Serial No. #{form_serial_no(form_application.object, representing_country)}",
                    class: "control-label label-status" %>

                <%= form_application.hidden_field :serial,
                    value: form_serial_no(form_application.object, representing_country), class: "serialno" %>

                <%= form_application.text_field :name, required: true, class: "form-control text-status-name" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right m-t-xs">
    <%= form.button :submit, class: "btn btn-success" do %>
      <i class="fa fa-send-o"></i>
      <%= form_submit_text(form.object) %>
    <% end %>

    <%= link_to "javascript:history.back()", class: "btn btn-default" do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>
