<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel horange">
        <div class="panel-heading hbuilt">
          <div class="pull-right">

            <%= link_to representing_country_change_status_path(representing_country_id: @representing_country.id, page: "show"), method: :post, remote: true, class: "btn", title: "Change Status" do %>

              <div id="change-icon-<%= @representing_country.id %>">

                <% if @representing_country.inactive? %>
                  <i class="h4 font-18 fa fa-toggle-on" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>INACTIVE</strong> - Click & Change it to Active"></i>

                <% else %>
                  <i class="h4 font-18 fa fa-toggle-off" data-toggle="tooltip" data-placement="top" data-html="true" title="Status: <strong>ACTIVE</strong> - Click & Change it to Inactive"></i>
                <% end %>
              </div>
            <% end %>

            <%= link_to "Edit", edit_representing_country_path(@representing_country, method: "show"), class: "btn btn-primary btn-xs ripple" %>

            <%= link_to "Back", representing_countries_path, class: "btn btn-default btn-xs ripple" %>
          </div>
          <p>
            <% if current_user.agent? %>
              <%= image_tag current_user.logo_url.to_s, class: "m-b float-margin-left" %>

            <% else %>
              <%= image_tag @representing_country.agent.logo_url.to_s, class: "m-b float-margin-left" %>

            <% end %>
            <div class="vertical-center">
              <h3><%= @representing_country.name.titleize %></h3>
              <small>
                <% if current_user.admin? %>
                  <i class="h4 font-18 fa fa-user"></i>
                  <%= link_to @representing_country.agent.name.titleize,
                      user_path(@representing_country.agent) if @representing_country.agent.present? %>
                <% end %>
              </small>
            </div>
          </p>
        </div>
        <div class="panel-body no-padding">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
