<aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu">
      <li class="active">
        <%= link_to root_path do %>
          <%= content_tag :span, "Dashboard", :class => "nav-label" %>
          <span class="label label-success pull-right"><%= current_user.role.titleize %></span>
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <%= content_tag :span, accessible_role_name, class: "nav-label" %>
          <span class="label label-warning pull-right"></span>
        <% end %>
      </li>
      <li>
        <a href="#">
          <span class="nav-label">Interface</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Panel Design", "#" %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
