<aside id="menu">
  <div id="navigation">
    <ul class="nav" id="side-menu">
      <li class="<%= sidebar_active_class('root_path') %>">
        <%= link_to root_path do %>
          <%= content_tag :span, "Dashboard", class: "nav-label" %>
          <span class="label label-success pull-right"><%= current_user.role.titleize %></span>
        <% end %>
      </li>
      <% unless current_user.counsellor? %>
        <li class="<%= sidebar_active_class('users_path') %>">
          <%= link_to users_path do %>
            <%= content_tag :span, accessible_role_name, class: "nav-label" %>
            <i class="fa fa-users pull-right"></i>
          <% end %>
        </li>
      <% end %>
      <% if can? :read, RepresentingCountry %>
        <li class="<%= sidebar_active_class('representing_countries_path') %>">
          <%= link_to representing_countries_path do %>
            <%= content_tag :span, "Countries", class: "nav-label" %>
            <i class="fa fa-map-marker pull-right"></i>
          <% end %>
        </li>
      <% end %>

      <% if can? :read, RepresentingInstitution %>
        <li class="<%= sidebar_active_class('representing_institutions_path') %>">
          <%= link_to representing_institutions_path do %>
            <%= content_tag :span, "Institutions", class: "nav-label" %>
            <i class="fa fa-university pull-right"></i>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, Application %>
        <li class="<%= sidebar_active_class('applications_path') %>">
          <%= link_to applications_path do %>
            <%= content_tag :span, "Applications", class: "nav-label" %>
            <i class="fa fa-user-plus pull-right"></i>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, Income %>
        <li class="<%= sidebar_active_class('finance_income_path') %>">
          <%= link_to finance_income_path do %>
            <%= content_tag :span, "Incomes", class: "nav-label" %>
            <i class="fa fa-user-plus pull-right"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
